@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  padding-bottom: 5rem;
  box-sizing: border-box;
}

.navbar {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  top: 0;
  left: 0;
}
.navbar .brand-name {
  margin-left: 2rem;
  text-decoration: none;
}
.navbar .brand-name h2 {
  opacity: 0.8;
  color: #fff;
  margin: 0;
  line-height: 100%;
  font-size: larger;
  letter-spacing: 1px;
  font-weight: 500;
}
.navbar .brand-name h2:hover {
  opacity: 1;
}
#menu{
  display: none;
  color: #fff;
  width: 30px;
  height: 3px;
}
#menu-btn{
  width: fit-content;
  height:2rem;
  background-color: transparent;
  border: none;
}

#menu::before{
  width: 30px;
  top: -10px;
  height: 3px;

}
#menu::after {
  width: 30px;
  top: 10px;
  height: 3px;
}
.burger-menu-links{
  display: none;
}
.navbar .nav-items {
  display: flex;
  gap: 2rem;
  margin-right: 1rem;
}


.navbar .nav-items .nav-profile {
  display: flex;
  align-items: center;
  gap: .3rem;
  position: relative;
}

.navbar .nav-items a,.nav-profile {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
  font-weight: 600;
  cursor: pointer;
  
}
.navbar .nav-profile:hover{
  opacity: 1;
}
.navbar .nav-items a:hover {
  opacity: 1;
}

.navbar .nav-items .cart-link {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1px;
  align-items: flex-start;
  margin-left: 1.5rem;
}
.navbar .nav-items .cart-link .item-count {
  height: 1.2rem;
  box-sizing: border-box;
  width: auto;
  min-width: 1.5rem;
  line-height: 1px;
  background-color: #DC3545;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  position: absolute;
  left: -1.6rem;
  top: 0;
}
.navbar.scrolled {
  transition-duration: 300ms;
  background-color: #fff;
  box-shadow: 0px 15px 17px -6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 15px 17px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 15px 17px -6px rgba(0, 0, 0, 0.3);
}
.navbar.scrolled a, .navbar.scrolled h2 {
  color: black;
}
.navbar.scrolled a:hover, .navbar.scrolled h2:hover {
  color: #2DA544;
}
.navbar.scrolled .signin_login_cont {
  color: #000;
}
.navbar.scrolled .nav-profile {
  color: #000;
}
.navbar.scrolled .nav-profile:hover {
  color: #2DA544;
}
.navbar .nav-profile .pfp-cont{
  width: 1.5rem;
  height: 1.5rem;
  background-color: #f5f5f5;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.navbar .nav-profile .pfp-cont img{
  width: 100%;
}

.banner {
  position: relative;
  width: 100%;
  height: 30rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.banner img {
  width: 100%;
}
.banner .banner-content {
  background-color: rgba(0, 0, 0, 0.5);
  width: 70%;
  height: 10rem;
  padding: 1rem;
  box-sizing: border-box;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}
.banner {
  height: 25rem;
}
.banner .banner-content h1 {
  color: #fff;
  font-weight: 300;
  margin: 0;
}

.banner .banner-content button {
  background-color: #2DA544;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: small;
  letter-spacing: 1px;
}
.banner .banner-content button:hover {
  background-color: #33b84d;
}

footer {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #2DA544;
  color: #fff;
  cursor: context-menu;
}
footer a {
  text-decoration: none;
  margin-left: 0;
  color: #fff;
  transition-duration: 500ms;
}
footer a:hover {
  color: #000;
}
/*# sourceMappingURL=main.css.map */
.signin_login_cont{
  color: #fff;
}
/* responsive  */
@media screen and (max-width: 1200px){


}
@media screen and (max-width: 1024px){
  .navbar {
    font-size: small;
  }
  .navbar .brand-name {
    margin-left: 0;
  }
  .banner .banner-content h1 {
    font-size: 1.5rem;
  }

}

@media screen and (max-width: 768px){
  .navbar{
    padding: 2rem;
    transition-duration: 200ms;
  }
  .navbar .brand-name {
    margin-left: 0;
    width: 10rem;
  }
  #menu{
    opacity: .8;
    color: #fff;
    display: block;
  }
  #menu.scrolled{
    opacity: .7;
    color: #000;
  }
  .navbar .nav-items.hidden {
    padding: 0;
    scale: 0;
    transform: scale(0);
  }
  .nav-items{
    position: absolute;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    top: 5rem;
    flex-direction: column;
    background-color: inherit;
    overflow: hidden;
    transition-duration: 200ms;
    transform-origin: 90% 0;
    padding: 2rem;
    height: auto;
    scale: 1;
  }
  #item-count{
    display: none;
  }
  .gg-shopping-cart{
    display: none !important;
  }
  .cart-link{
    margin-left: 0 !important;
  }
  #nav-profile{
    background-color: #000;
    display: none;
  }
  .burger-menu-links{
    display: block;
  }
  .banner {
    height: 18rem;
  }
  .banner .banner-content {
    text-align: center;
    height: 8rem;
    bottom: 2rem;
  }
  .banner .banner-content h1 {
    font-size: medium;
  }
  .banner .banner-content button {
    padding: .5rem;
    font-size: x-small;
  }
}

@media screen and (max-width: 480px){
  .navbar{
    font-size: small;
    padding: 0 1rem;
  }

  .banner {
    height: 15rem;
  }

  .banner .banner-content {
    padding: 0;
    width: 90%;
    text-align: center;
    height: 5rem;
    bottom: 2rem;
    gap: 0;
  }
  .banner .banner-content h1 {
    font-size: small;
    margin-bottom: 0;
  }
  .banner .banner-content button {
    margin-top: -1rem;
    padding: .5rem;
    font-size: xx-small;
    letter-spacing: normal;
  }
  footer {
    font-size: small !important;
    text-align: center;
    box-sizing: border-box;
    padding: 2rem 3rem;   
  }
  footer a {
    transition-duration: 500ms;
  }
}
