.tnc-page{
    width: 100%;
    height: auto;
    min-height: 30rem;
    background-color: #fff;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 3rem 4rem;
}

.tnc-page ol{
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
    
  }
  
.tnc-page  ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
    font-size: 1.5rem;
    font-weight: 600;
  }
.tnc-page  ol > li > ol{
    font-size: 1rem;
    font-weight: 400;
  }
.tnc-page  ol > li > ol > li{
    font-size: 1rem;
    font-weight: 400;
  }
.tnc-page  ol > li > ol li{
    font-size: 1rem;
    font-weight: 400;
  }
.tnc-page  ol > li > ul{
    font-size: 1rem;
    font-weight: 400;
  }
  
 .tnc-page ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;    
  }
  
.tnc-page li ol > li {
    margin: 0;
  }
  
 .tnc-page li ol > li:before {
    content: counters(item, ".") " ";
  }

  @media (max-width: 700px) {
    .tnc-page{
        padding: 1rem;
    }
    .tnc-page ol li{
        font-size: 1.3rem;
    }
    .tnc-page  ol > li > ol{
        font-size: .8rem;
        font-weight: 400;
      }
    .tnc-page  ol > li > ol > li{
        font-size: .8rem;
        font-weight: 400;
      }
    .tnc-page  ol > li > ol li{
        font-size: .8rem;
        font-weight: 400;
      }
    .tnc-page  ol > li > ul{
        font-size: .8rem;
        font-weight: 400;
    }
    .tnc-page  ol > li > ul li{
        font-size: .8rem;
        font-weight: 400;
    }
      
  }